*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    color: #b3b2af;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

body{
    background-color: #000000;
    height: 100vh;   
       
}

main{
    display: flex;
    gap: 8px;
    padding: 8px 8px 0 8px;
    height: calc(100% - 90px);
}

main > section{
    border-radius: 8px;
}

footer{
    height: 90px;
}

a{
    text-decoration: none;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

h1{
    color: white;
    /*
    font-size: 8vh;
    */
    font-size: 400%;
}

.navigation{
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navigation > div{
    background-color: #121212;
    border-radius: 8px;
}

.nav{
    height: 112px;
    display: flex;
    flex-direction: column;
    padding: 8px 25px;
}

.nav span{
    background-color: transparent;    
    height: 50%;
    font-size: medium;
    font-weight: 700;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
}


.library{
    height: calc(100% - 112px);
    padding: 8px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.lib-1{
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.lib-1 > div{
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 700;
    gap: 8px;
}

.circle{
    background-color: transparent;   
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.lib-2{
    display: flex;
    gap: 5px;
    padding-top: 8px;
    padding-left: 8px;
}

.lib-2 > span{
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0 15px;
    height: 32px;
}

.lib-2 a{
    color: white;
    font-size: small;
    font-weight: 600;
}

.lib-3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.lib-3 nav{
    padding: 0px 15px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.lib-3 nav div{
    gap: 5px;
    display: flex;
    align-items: center;
}

.lib{
    display: flex;
    flex-direction: column;
}

.lib-element{
    background-color: transparent;
    border: 0px;
    height: 65px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*.lib-element */img{
    height: 100%;
    border-radius: 3px;
    max-height: 225px;
}

.lib-element span{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.lib-element h4{
    display: flex;
    justify-items: start;
    font-size: medium;
    font-weight: 400;
    color: white;
}

.lib-element p{
    display: flex;
    justify-items: start;
    font-size: small;
    font-weight: 500;
}


.main{
    width: calc(100% - 420px);
    /*background-color: #453286;*/
    background-color: #121212;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.main-nav{
    border-radius: 8px 8px 0px 0px;
    height: 65px;
    background-color: #503a9b;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 15px;
}

.main-nav span{
    background-color: #00000073;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title{
    height: 33%;
    background: rgb(80,58,155);
    background: linear-gradient(180deg, rgba(80,58,155,1) 0%, rgba(43,30,83,1) 100%);  
    display: flex;
    align-items: end;
    padding: 30px 20px 20px 20px;
    gap: 20px;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.data p{
    font-size: small;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.651);
}

.data span{
    font-size: medium;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.data img{
    height: 25px;
}

.main-list{
    border-radius: 0px 0px 8px 8px;
    height: calc(67% - 65px);
    background: rgb(32,24,62);
    background: linear-gradient(180deg, rgba(32,24,62,1) 0%, rgba(18,18,18,1) 55%);
}

.list-options{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1ed760;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button i{
    color: #000000;
}

.list-table{
    display: flex;
    flex-direction: column;
}

.table-header{
    height: 35px;
    width: 100%;
    padding: 0 1.5%;
}

.table-header div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    font-weight: 700;
    border-bottom: 0.1px #ffffff13 solid;
}

.table-header div span{
    height: 100%;
    display: flex;
    align-items: center;
}

.songsList{
    padding: 0 1.5%;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

.table-song{
    height: 55px;
    background-color: transparent;
    border-radius: 5px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-song div{
    font-size: medium;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
}

.t1{
    width: 5%;
    justify-content: center;
}

.t2{
    width: 45%;
    padding: 8px;
    gap: 10px;
}

.t2 span{
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-x: hidden;
}

.t2 h3{
    font-size: medium;
    font-weight: 500;
    color: white;
    text-wrap: nowrap;
}

.t2 p{
    font-size: small;
    font-weight: 500;
}

.t3{
    width: 20%;
    justify-content: end;
    padding-right: 10%;
}

.t4{
    width: 25%;
}

.t5{
    width: 5%;
    justify-content: center;
}

.player{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.player-1{
    height: 100%;
    width: 30%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.player-1 span{
    padding-left: 15px;
}

.player-1 h4{
    font-size: small;
    color: white;
}

.player-1 p{
    font-size: small;
}


.player-2{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.player-3{
    height: 100%;
    width: 30%;
}

.hover-white:hover{
    cursor: pointer;
    a, i, button{
        color:white;
        transition: 0.4s;
    }
}

.circle:hover{
    background-color: #1f1f1f;
    cursor: pointer;
    transition: 0.4s;
}

.lib-2 > span:hover{
    background-color: #333333;
    cursor: pointer;
    transition: 0.3s;
}

.selectable:hover{
    /*
    background-color: #1f1f1f; 
    */
    background-color: #ffffff2a; 
    cursor: pointer;
}

.button:hover{
    background-color: #5de28c; 
    cursor: pointer;
    transform: scale(1.05);
}

.selectable:focus{
    background-color: #ffffff2a;
}

.selectable:focus:hover{
    background-color: #ffffff46;
}