*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
}

main{
    height: 100%;
}

span{
    background-color: transparent;
}

div{
    background-color: transparent;
}

.content{
    width: 100%;
    height: calc(100% - 6em);
    display: flex;
}

.music-bar{
    width: 100%;
    height: 6em;
    
    background-color: black;
}

.section-1{
    width: 27em;
    height: 100%;
    gap: 1ex;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    width: 98%;
    height: 7em;

    display: flex;
    justify-content: center;

    background-color: rgb(18, 18, 18); 
    border-radius: 1ex;
}

.nav-buttons{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 2em;
    gap: 3ex;
}

.nav button{
    color: rgb(171, 171, 171);
    font-size: medium;
    text-align: left;
    font-weight: bold;

    background-color: transparent;

    display: flex;
    align-items: center;
    border: none;

    padding: 0 0;
    gap: 1em;
}

.library{
    width: 98%;
    height: calc(97% - 7em);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(18, 18, 18); 
    border-radius: 1ex;

    gap: 1ex;
}

.lib-buttons{
    width: 100%;
    height: 3em;
    padding-left: 2em;
    padding-top: 1em;
}

.lib-buttons button{
    color: rgb(171, 171, 171);
    font-size: medium;
    text-align: left;
    font-weight: bold;

    background-color: transparent;

    display: flex;
    align-items: center;
    border: none;

    gap: 1em;
}

.lb-s1{
    height: 100%;
    display: flex;
    float: left;
}

.lb-s1 button{
    padding: 0 0;
}

.lb-s2{
    height: 100%;
    display: flex;
    float: right;
    gap: 3ex;
    padding: 0 1em;
}

.lib-filters{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: left;

    padding: 0 1em;
    height: 3em;
    gap: 1ex;
}

.lib-filters button{
    color: white;
    background-color: rgb(37, 37, 37);
    font-weight: 500;
    
    height: 65%;
    width: fit-content;

    border: none;
    border-radius: 1em;
    padding: 1ex 2ex;
}

.section-2{
    width: calc(100% - 27em);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.songs{
    width: 99%;
    height: 98%;

    border-radius: 1ex;
    background-color: blueviolet;
}